<% published = invoices.first.published? %>
<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Date</th>
      <th>Due date</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.number %></td>
        <td><%= invoice.date.strftime('%d-%m-%Y') %></td>
        <td><%= invoice.due_date.strftime('%d-%m-%Y') %></td>
        <td><%= number_to_currency(invoice.price, unit: invoice.currency) %></td>
        <% if published %>
          <td><%= link_to 'Download', invoice_path(id: invoice.id, format: :pdf) %></td>
        <% else %>
          <td><%= link_to 'Show', invoice %></td>
          <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <% end %>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
