<p id="notice"><%= notice %></p>

<h1><%= @invoice.number %></h1>
<div class="row">
  <div class="small-6 columns">
    <p>
      <strong>Date:</strong>
      <%= @invoice.date %>
    </p>
  </div>
  <div class="small-6 columns">
    <p>
      <strong>Due date:</strong>
      <%= @invoice.due_date %>
    </p>
  </div>
  <div class="small-6 columns">
    <p>
      <strong>Period covered from:</strong>
      <%= @invoice.period_covered_from %>
    </p>
  </div>
  <div class="small-6 columns">
    <p>
      <strong>Period covered to:</strong>
      <%= @invoice.period_covered_to %>
    </p>
  </div>
</div>
<div class="row">
  <div class="small-6 columns small-offset-6">
    <p>
      <strong>Price:</strong>
      <%= @invoice.price %>
    </p>
  </div>
</div>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Preview', invoice_path(format: :pdf) %> |
<%= link_to 'Back', invoices_path %>
