<%= @client.attributes %>
<%= @client_params %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @client.code %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @client.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @client.contact_email %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @client.contact_phone %>
</p>

<strong>Address:</strong>
<%= raw address_for(@client) %>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
