<section>

  <table>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= link_to project.url, project.url %></td>
        <td><%= project.updated_at %></td>
        <td><%= link_to "edit", "/projects/edit/#{project.id}" %></td>
        <td><%= link_to "delete", "/projects/destroy/#{project.id}", method: :delete %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="5">
        <%= link_to "new project", '/projects/new' %>
      </td>
    </tr>
  </table>
</section>
