<% contacts = [
 ["social", [
    ["facebook",  "https://www.facebook.com/jphager2"],
    ["twitter",   "https://www.twitter.com/jphager2"],
    ["google",    "https://plus.google.com/u/0/+JohnHager3"],
    ["instagram", "http://www.instagram.com/jphager2"],
  ]],
  ["development", [
    ["github",  "https://www.github.com/jphager2"],
    ["blogger", "http://ruby-jph.blogspot.cz/"],
  ]],
  ["business", [
    ["linkedin", "http://cz.linkedin.com/pub/john-hager/45/a6a/6b/"],
    ["skype",    "skype:jphager2"],
    ["email",    "jh@john-hager.info"],
  ]],
] %>

<% provide :title, "Contact" %>
<article>
  <header>
    <h1>get in touch</h1>
    <h6 class="subheader">
      feel free to contact me at any time, for any reason
    </h6>
  </header>

  <section>
    <dl class="accordion" data-accordion>
      <% contacts.each_with_index do |(area,links),area_index| %>
        <% panel = "panel#{area_index}" %>
        <% active = "active " if area_index.zero? %>
      <dd>
        <a href="#<%= panel %>">
          <h6><%= area %></h6>
        </a>
        <div id="<%= panel %>" class="content <%= active %>text-center">
          <ul class="small-block-grid-<%= links.length %>">
            <% links.each do |name,url| %>
              <% if name == 'email' # this is a shitty hack %>
            <li><%= mail_to url %></li>
                <% next %>
              <% end %>
            <li>
              <%= link_to url, target: "_blank" do %>
                <%= image_tag asset_path("#{name}.png") %>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </dd>  
      <% end %>
    </dl>
  </section>
</article>
