<% provide :title, "CV" %>
<article>
  <header>
    <h1>Curriculum Vitae</h1>
  </header>

  <section>
    <div class="row">
      <div class="large-4 columns">
        <h3>Skills</h3>
      </div>                  <!-- end of left side -->
      <div class="large-8 columns">
        <p>
          Ruby, Python, JavaScript(languages), HTML, CSS, JavaScript,
          and Foundation(frontend web development), Rails, Sinatra
          and Railo-CMFL(backend web development), Git(version 
          control), Heroku(deploying apps), SharePoint and Exchange
          online administration.
        </p>
      </div>                  <!-- end of right side -->
    </div>                    <!-- end of Skills -->
    <div class="row">
      <div class="large-4 columns">
        <h3>Human Languages</h3>
      </div>                  <!-- end of left side -->
      <div class="large-8 columns">
        <p>
          Excellent German, with basic knowledge of Czech and French.
        </p>
      </div>                  <!-- end of right side -->
    </div>                    <!-- end of Human Languages -->
    <div class="row">
      <div class="large-4 columns">
        <h3>Professional Experience</h3>
        <h6 class="subheader">
          See 
          <%= link_to "my portfolio", "portfolio" %>
        </h6>
      </div>                  <!-- end of Header side --> 
      <div class="large-8 columns">
        <div class="row">
          <div class="small-12 columns left">
            <h5>Freelance Consultant</h5>
          </div>
        </div>                <!-- end of Freelance Consultant header -->
        <div class="row">
          <div class="small-8 columns">
            <em>Finance and Knowledge Managment</em>
          </div>
          <div class="small-4 columns">
            <em>September 2013 to Present</em>
          </div>
        </div>                <!-- end of job sub row -->
        <div class="row">
          <div class="small-5 columns small-offset-2">
            <em>Rails Projects</em>
            <ul>
              <li>
                <%= link_to "our-velky-day.eu", "http://www.our-velky-day.eu" %>
              </li>
              <li> 
                <%= link_to "mangdown_gui", "https://github.com/jphager2/mangdown_gui" %>
              </li>
            </ul>
          </div>              <!-- end of Rails Projects -->
          <div class="small-5 columns">
            <em>Ruby Projects</em>
            <ul>
              <li>
                <%= link_to "mangdown", "https://www.github.com/jphager2/mangdown" %>
              </li>
              <li>
                <%= link_to "gotasku", "https://www.github.com/jphager2/gotasku" %>
              </li>
            </ul>
          </div>              <!-- end of Ruby Projects -->
        </div>                <!-- end of job sub row -->      
        <div class="row">
          <div class="small-12 columns left">
            <h5>The Academy of Business in Society</h5>
          </div>
        </div>                <!-- end of ABIS header -->
        <div class="row">
          <div class="small-8 columns">
            <em>Operations Coordinator</em>
          </div>
          <div class="small-4 columns">
            <em>April 2012 to September 2013</em>
          </div>
        </div>                <!-- end of job sub row -->
        <div class="row">
          <div class="small-12 columns">
            <ul>
              <li>
                Administrator of the organization's cloud-based IT 
                system, including Exchange and SharePoint Online
              </li>
              <li> 
                Tasked with creating a user-friendly, database driven,
                web site (SharePoint) that allows for the accessibility
                of organizational information on accounts, finances,
                projects, events
              </li>
              <li>
                Part of the organization's finance team, with specific
                responsibilities of invoicing, managing receivables,
                payables, and budget planning
              </li>
            </ul>
          </div>              <!-- end of Description -->
        </div>                <!-- end of job sub row -->      
        <div class="row">
          <div class="small-12 columns left">
            <h5>
              European Parliament, Directorate General for 
              Interpretation and Conferences, Communication
              Interinstitutional, and International Cooperation 
              Unit
            </h5>
          </div>
        </div>                <!-- end of EuroParl header -->
        <div class="row">
          <div class="small-8 columns">
            <em>Stagiaire</em>
          </div>
          <div class="small-4 columns">
            <em>October 2011 to February 2012</em>
          </div>
        </div>                <!-- end of job sub row -->
        <div class="row">
          <div class="small-12 columns">
            <ul>
              <li>
                Co-managed the Directorate General's external 
                communication via social media 
              </li>
              <li> 
                Formed and implemented new communication strategies
              </li>
              <li>
                Monitored various media for and created new content 
                related to the DG and conference interpreting
              </li>
            </ul>
          </div>              <!-- end of Description -->
        </div>                <!-- end of job sub row --> 
        <div class="row">
          <div class="small-12 columns left">
            <h5>
              UMBC Department of Modern Languages, Linguistics, 
              and Intercultural Communication’s German Conversation 
              Program 
            </h5>
          </div>
        </div>                <!-- end of UMBC header -->
        <div class="row">
          <div class="small-8 columns">
            <em>Instructor</em>
          </div>
          <div class="small-4 columns">
            <em>February 2010 to May 2010</em>
          </div>
        </div>                <!-- end of job sub row -->
        <div class="row">
          <div class="small-12 columns">
            <ul>
              <li>
                Created lesson plan to focus on improving German 
                students’ confidence and ability in reading, 
                writing, and speaking especially in a conversational 
                context  
              </li>
              <li> 
                Worked within the department in order to optimize 
                learning for students and create a high standard 
                of learning that the University seeks to obtain
              </li>
            </ul>
          </div>              <!-- end of Description -->
        </div>                <!-- end of job sub row -->
        <div class="row">
          <div class="small-12 columns left">
            <h5>
              Howard County Public School System
            </h5>
          </div>
        </div>                <!-- end of HCPSS header -->
        <div class="row">
          <div class="small-8 columns">
            <em>Substitute Teacher</em>
          </div>
          <div class="small-4 columns">
            <em>March 2009 to June 2010</em>
          </div>
        </div>                <!-- end of job sub row -->
        <div class="row">
          <div class="small-12 columns">
            <ul>
              <li>
                Accepted short and long term assignments at the 
                elementary and high school levels
              </li>
              <li> 
                Worked with language department head to create a 
                coherent plan for introductory, intermediate, 
                and advanced German classes in line with the 
                standard curriculum 
              </li>
            </ul>
          </div>       <!-- end of Description -->
        </div>         <!-- end of job sub row -->
      </div>           <!-- end of Professional Experience sub rows -->
    </div>             <!-- end of Professional Experience -->
    <div class="row">
      <div class="large-4 columns">
        <h3>Education</h3>
      </div> 
      <div class="large-8 columns">
        <div class="row">
          <div class="small-11 small-offset-1">
            <h5>
              University of Kent at Brussels-Brussels School
              of International Studies
            </h5>
            <em>Brussels, 2010-2011</em>
          </div> 
        </div>                <!-- end of Kent header sub row -->
        <div class="row">
          <div class="small-11 small-offset-1">
            <ul>
              <li>
                M.A. in Migration Studies, 
                <strong>with Merit</strong>
              </li>
            </ul>
          </div>
        </div>                <!-- end of Kent sub row -->
        <div class="row">
          <div class="small-11 small-offset-1">
            <h5>
              University of Maryland Baltimore County (UMBC)
            </h5>
            <em>Baltimore, 2006-2010</em>
          </div>
        </div>                <!-- end UMBC header sub row -->
        <div class="row">
          <div class="small-11 small-offset-1">
            <ul>
              <li>
                B.A. in Modern Languages, Linguistics, and 
                Intercultural Communication, 
                <strong>Magna Cum Laude</strong>
              </li>
              <li>
                Cumulative GPA:  3.786 - Dean’s List; President’s 
                List; Ricardo Palomares Award for Academic Excellence 
                and Service (2010)  
              </li>
            </ul>
          </div>
        </div>                <!-- end of UMBC sub row -->
        <div class="row">
          <div class="small-11 small-offset-1">
            <h5>
              Westfälische Wilhelms-Universität Münster, Germany; 
              Gästhörer
            </h5>
            <em>Münster, Summer 2009</em>
          </div>
        </div>                <!-- end WWUM sub row -->
      </div>
    </div>                    <!-- end of Education row -->
    <div class="row">
      <div class="large-4 columns">
        <h3>Independent Study</h3>
      </div> 
      <div class="large-8 columns">
        <div class="row">
          <div class="small-11 small-offset-1">
            <h5>Coursera</h5> 
          </div>
        </div>
        <div class="row">
          <div class="small-10 small-offset-2">
            <h6>Learn to Program: The Fundamentals</h6>
            <em>January 2014</em>
          </div>
        </div>
        <div class="row">
          <div class="small-9 small-offset-3">
            <ul>
              <li>
                University of Toronto, non-credit, online course 
                (using Python)
              </li>
            </ul>
          </div>
        </div>                <!-- end coursera rows -->
        <div class="row">
          <div class="small-11 small-offset-1">
            <h5>Other</h5> 
          </div>
        </div>
        <div class="row">
          <div class="small-10 small-offset-2">
            <h6>Code Academy</h6>
            <em>Present</em>
          </div>
        </div>
        <div class="row">
          <div class="small-9 small-offset-3">
            <ul>
              <li>
                Ruby, HTML/ CSS, JavaScript
              </li>
            </ul>
          </div>
        </div>                 <!-- end codeacademy rows -->
      </div>                   <!-- end of right side -->
    </div>                     <!-- end of Independent Study row -->
    <div class="row">
      <div class="large-4 columns">
        <h3>Volunteer Activities</h3>
      </div> 
      <div class="large-8 columns">
        <ul>
          <li>
            Volunteer Organizer for JCI, the Heart of Europe’s 
            “Leadership, Social Change &amp; Professional 
            Development: Your Future in Brussels” event (2012)
          </li>
          <li>
            Volunteer for Brussels Forum (2011) organized by 
            the German Marshal Fund of the United States--Contacted 
            participants for logistical information, helped with 
            preparations, welcomed participants, helped organize 
            transportation, etc.
          </li>
          <li>
            Paid volunteer for the Annual Conference on Economic 
            developments in European competition policy organized 
            by the Charles Rivers Associates (2010)
          </li>
          <li>
            Volunteer for Knowledge4Inovation at the 2nd 
            European Innovation Summit--Basic problem-solving 
            and logistical tasks (2010)
          </li>
          <li>
            Volunteer for UNICEF’s Prague office--Office organization, 
            preparation, and small event management (2010)
          </li>
          <li>
            Volunteer with flood clean-up in the Czech Republic 
            with ADRA (2010)
          </li>
        </ul>
      </div>
    </div>                     <!-- end of Volunteer Activities row -->
    <div class="row">
      <div class="large-4 columns">
        <h3>Interests</h3>
      </div> 
      <div class="large-8 columns">
        <div class="row">
          <div class="small-4 columns">
            <ul>
              <li>Ruby on Rails</li>
              <li>Go/ Weiqi/ Baduk</li>
            </ul>
          </div>
          <div class="small-4 columns">
            <ul>
              <li>Web Design</li>
              <li>TDD/ BDD</li>
            </ul>
          </div>
          <div class="small-4 columns">
            <ul>
              <li>Open Source</li>
              <li>Manga/ Comics</li>
            </ul>
          </div>
        </div>                <!-- end of interests sub row -->
      </div>                  <!-- end of right side -->
    </div>                    <!-- end of Interests row -->

  </section>
</article>
