<% provide :title, "Home" %>
<article>
  <header>
    <h1 id="name-text">John Hager</h1>
    <h6 class="subheader">
      Budding Web Developer who loves Ruby and uses Rails
    </h6>
    <blockquote>
      I believe in working in an environment that raises the 
      confidence and skills of the entire team as equals.
    </blockquote>
  </header>

  <% unless @promotion.empty? %>
    <section>
      <header>
        <% plural = "s" if @promotion.length > 1 %> 
        <h2>
          <%= "Check out the project#{plural} I just added.." %>
        </h2> 
      </header>
      <div id="panel1" class = "content active">
        <ul class="medium-block-grid-2 large-block-grid-1">
          <% @promotion.each do |project| %>
            <li> 
              <%= link_to "projects/#{project.id}" do %>
                <div class="row">
                  <div class="small-12 columns">
                    <h3><%= project.name %></h3>
                  </div>
                </div>
                <div class="row">
                  <div class="large-6 columns">
                    <%= image_tag asset_path(project.image) %>
                  </div>
                  <div class="large-6 columns">
                    <%= project.description[0...180] + '...' %>
                  </div>
                </div> 
              <% end %>
            </li>
          <% end %>
      </div>
    </section>
  <% end %>

  <section>
    <h2>My Goals</h2>
    <ul>
      <li>To learn something interesting every day,</li>
      <li>To work with people who trust and respect me, and</li>
      <li>To enjoy and be challenged by the projects I work on.</li>
    </ul>
  </section>

  <section>
    <h2>My Services</h2>
    <ul>
      <li>
        Simple Ruby on Rails Web Applications using Rails 3.x
        and 4.x.
      </li>
      <li>
        Command Line tools written in Ruby for automating tasks.
      </li>
      <li>
        Building or updating test suites for Ruby or Rails apps.
      </li>
      <li>
        Simple HTML and CSS templates/layouts using custom CSS and 
        JavaScript or using Foundation (which was used for this site)
        or Bootstrap.
      </li>
    </ul>
  </section>
</article>

