<% provide :title, "Portfolio" %>
<article>
  <header>
    <h1>Portfolio</h1>
  </header>

  <section>
    <p>
      Look through the links below to get an idea of what projects
      I have worked on. Or check out my 
      <%= link_to "github profile", "https://www.github.com/jphager2", target: "_blank" %> 
      .
    </p>
  </section>

  <section>
    <div id="panel1" class = "content active">
      <ul class="small-block-grid-1 medium-block-grid-2">
        <% @projects.each do |project| %>
          <li>
            <%= link_to project.url, target: "_blank" do %>
              <% image = project.name.downcase.gsub(/[-\s]/, '_') %>
              <%= image_tag asset_path("#{image}.png") %>
            <% end %>
            <h6 class="subheader"><%= project.name %></h6>
            <p>
              <%= project.description %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>

  </section>
</article>
