<section>
  <%= form_tag url: {action: :create}, html: {class: "project_form"} do %>
    <%= label_tag :name, 'Name: ' %>
    <%= text_field_tag :name, @project.name %>
    <br>
    <%= label_tag :purl, 'URL: ' %>
    <%= text_field_tag :purl, @project.url %>
    <br>
    <%= label_tag :description, 'Description: ' %>
    <br>
    <%= text_area_tag :description, @project.description %>
    <%= submit_tag "SAVE" %>
  <% end %>
</section>
