<header>
  <h1>Curriculum Vitae</h1>
</header>

<section>
  <%= render 'layouts/cv/skills' %>
  <%= render 'layouts/cv/languages' %>
  <%= render 'layouts/cv/projects' %>
  <%= render 'layouts/cv/experience' %>
  <%= render 'layouts/cv/education' %>
  <%= render 'layouts/cv/independent' %>
  <%= render 'layouts/cv/volunteer' %>
  <%= render 'layouts/cv/interest' %>
</section>
