<div class="large-4 columns">
  <section>
    <h2>Contact John</h2>
    <p>
      You can look for me as @jphager2 almost anywhere. 
      If you can't find me there, just 
      <%= mail_to "jh@john-hager.info", "send me an email" %>
      .
    </p>
  </section>

  <section>
    <h2>Github Activity</h2>
    
    <div class="row">
      <div class="large-12 columns">
        
        <table>
          <thead>
          </thead>
          <tbody id="githubActivity">
            <% @events.each do |event| %>
              <tr>
                <td class="code">
                  <%= link_to event.uri, target: "_blank" do %> 
                    <div>
                      On <%= event.datetime %>,
                      <span class="red">John</span>:
                      <span class="yellow"><%= event.action %></span>
                      =&gt;<br>
                      <span class="green"><%= event.repo %></span>
                      <br>
                      <blockquote>
                        <%= event.message %>
                      </blockquote>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <%= image_tag @events.first.profile_img, class: "profile" %>
        <h6 class="subheader">@jphager2</h6>

    </div>
  </section>
</div>


