<div class="large-8 columns">
  <%= yield %>
  <div id="disqus_thread"></div>
    <script type="text/javascript">
      /* CONFIGURATION VARIABLES: */
      var disqus_shortname = <%= "'#{ENV["DQ_SHORTNAME"]}'" %>; 
      // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                                                                  })();
                                                                                </script>
                                                                                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                                                                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
<div class="large-4 columns">
  <section>
    <h2>Contact John</h2>
    <p>
      You can look for me as @jphager2 almost anywhere. 
      If you can't find me there, just 
      <%= mail_to "jh@john-hager.info", "send me an email" %>
      .
    </p>
  </section>

  <section>
    <h2>Github Activity</h2>
    
    <div class="row">
      <div class="large-12 columns">
        
        <table>
          <thead>
          </thead>
          <tbody id="githubActivity">
            <% @events.each do |event| %>
              <tr>
                <% type = event['type'].sub('Event', '').downcase %>
                <% case type %>
                <% when /push/ %>
                  <% commit = event["payload"]["commits"].last %>
                  <% message = commit["message"] %>
                <% when /issue/ %>
                  <% commit = event["payload"]["issue"] %>
                  <% message = "##{commit['number']}: #{commit['title']}" %>
                  <% labels = commit['labels'].map {|label| label["name"]} %>
                  <% message << "; labels: #{labels.join(', ')}" unless labels.empty? %>
                <% else %>
                  <% commit = "" %>
                  <% message = "" %>
                  <% commit_path = '#' %>
                <% end %>

                <% commit_path ||= commit["url"].sub('//api','//www').sub('/repos/','/')%>

                <td class="code">
                  <% out = "" %>
                  <% out << DateTime.parse(event['created_at']).strftime("On %a, %d %b at %I:%M%p") << ",\s" %>
                  <% out << "<span class=\"red\">John</span>: <span class=\"yellow\">" << type << "</span>\s=><br><span class=\"green\">" %>
                  <% out << event["repo"]["name"] << "</span>" %>


                  <%= link_to commit_path, target: "_blank" do %> 
                    <div>
                      <%= out.html_safe %>
                      <br>
                      <blockquote>
                        <%= message %>
                      </blockquote>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= image_tag @events.first["actor"]["avatar_url"], class: "profile" %>
        <h6 class="subheader">@jphager2</h6>


    </div>
  </section>
</div>
