<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "John Hager", root_path %></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li><%= link_to "home", "/" %>
          <li class="divider"></li>
          <li><%= link_to "portfolio", "portfolio" %> 
          <li class="divider"></li>
          <li><%= link_to "cv", "cv" %> 
          <li class="divider"></li>
          <li><%= link_to "go", "go" %> 
          <li class="divider"></li>
          <li><%= link_to "contact", "contact" %> 
        </ul>
      </section>
    </nav>

    <div class="row">
      <div class="large-8 columns"><%= yield %></div>
      <div class="large-4 columns">
        <section>
          <h2>Contact John</h2>
          <p>
            You can look for me as @jphager2 almost anywhere. 
            If you can't find me there, just 
            <%= mail_to "jh@john-hager.info", "send me an email" %>
            .
          </p>
        </section>

        <section>
          <h2>Github Activity</h2>
          
          <div class="row">
            <div class="large-12 columns">
              
              <table>
                <thead>
                </thead>
                <tbody>
                  <% @events.each do |event| %>
                    <tr>
                      <% commit = event["payload"]["commits"].last %>
                      <% commit_path = commit["url"].sub('//api','//www').sub('/repos/','/')%> 
                      <td class="code">
                        <% out = "" %>
                        <% out << DateTime.parse(event['created_at']).strftime("On %a, %d %b at %I:%M%p") << ",\s" %>
                        <% out << "<span class=\"red\">John</span>: <span class=\"yellow\">" << event['type'].sub('Event', '').downcase << "</span>\s=><br><span class=\"green\">" %>
                        <% out << event["repo"]["name"] << "</span>" %>


                        <%= link_to commit_path do %> 
                          <div>
                            <%= out.html_safe %>
                            <br>
                            <blockquote>
                              <%= commit["message"] %>
                            </blockquote>
                          </div>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= image_tag @events.first["actor"]["avatar_url"], class: "profile" %>
              <h6 class="subheader">@jphager2</h6>
          </div>
        </section>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
