<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "John Hager" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.ico" %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50971654-1', 'john-hager.info');
      ga('send', 'pageview');

    </script>
  </head>

  <body>
    <div class="row">
      <div class="large-12 columns">
        <div class="sticky fixed">
          <nav class="top-bar" data-topbar="">
            <ul class="title-area">
              <!-- Title Area -->
              <li class="name">
                <%= link_to root_path, class: "name logo" do %>
                  <h1>John Hager</h1>
                  <%= image_tag asset_path("jh-logo.png") %>
                <% end %>         
              </li>
              <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
              <li class="toggle-topbar menu-icon">
                <a href="#"></a>
              </li>
            </ul>


            <section class="top-bar-section">

              <!-- Right Nav Section -->
              <ul class="right">
                <li class="divider hide-for-medium"></li>
                <li><%= link_to "Home", root_path %></li>
                <li class="divider hide-for-medium"></li>
                <li><%= link_to "Portfolio", 'portfolio'%></li>
                <li class="divider hide-for-medium"></li>
                <li><%= link_to "CV", 'cv' %></li>
                <li class="divider hide-for-medium"></li>
                <li><%= link_to "Go", 'go' %></li>
                <li class="divider hide-for-medium"></li>
                <li><%= link_to "Contact", 'contact' %></li>
                <li class="divider hide-for-medium"></li>
                <li><%= link_to "Feedback", 'https://github.com/jphager2/john-hager-info/issues', target: "_blank" %></li>
                <% if signed_in? %>
                  <li class="divider hide-for-medium"></li>
                  <li><%= link_to "Admin", "/admin" %></li>
                  <li class="divider hide-for-medium"></li>
                  <li>
                    <%= link_to "Logout", "/logout", method: "delete" %>
                  </li>
                <% else %>
                  <li class="divider hide-for-medium"></li>
                  <li><%= link_to "Login", "/login" %></li>
                <% end %>
              </ul>
            </section>
          </nav>
        </div>
      </div>
    </div>
    
    <div class="row">
      <% @disqus = "layouts/disqus_large" %>
      <%= render 'layouts/main' %>
      <%= render 'layouts/github_side' %>

    </div>
  </body>
</html>
