<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "John Hager" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.ico" %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50971654-1', 'john-hager.info');
      ga('send', 'pageview');

    </script>
  </head>

  <body>

    <nav class="top-bar hide-for-small">
      <ul class="title-area">
        <li class="name logo">
          <h1>
            <%= link_to "John Hager", root_path, id: "logo-text" %>
          </h1>
          <%= image_tag asset_path("jh-logo.png") %>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li><%= link_to "home", "/" %>
          <li class="divider"></li>
          <li><%= link_to "portfolio", "portfolio" %> 
          <li class="divider"></li>
          <li><%= link_to "cv", "cv" %> 
          <li class="divider"></li>
          <li><%= link_to "go", "go" %> 
          <li class="divider"></li>
          <li><%= link_to "contact", "contact" %> 
          <% if signed_in? %>
            <li class="divider"></li>
            <li><%= link_to "admin", "/admin" %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "logout", "/logout", method: "delete" %>
            </li>
          <% else %>
            <li class="divider"></li>
            <li><%= link_to "login", "/login" %></li>
          <% end %>
        </ul>
      </section>
    </nav>

    <nav class="show-for-small">
      <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
          <nav class="tab-bar">
            <section class="left-small">
              <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
            </section>

            <section class="middle tab-bar-section">
              <div class="title">
                <h1><%= link_to "John Hager", root_path %></h1>
                <%= image_tag asset_path("jh-logo.png") %>
              </div>
            </section>

          </nav>

          <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
              <li><label>John Hager</label></li>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Portfolio", 'portfolio'%></li>
              <li><%= link_to "CV", 'cv' %></li>
              <li><%= link_to "Go", 'go' %></li>
              <li><%= link_to "Contact", 'contact' %></li>
              <% if signed_in? %>
                <li><%= link_to "admin", "/admin" %></li>
                <li>
                  <%= link_to "logout", "/logout", method: "delete" %>
                </li>
              <% else %>
                <li><%= link_to "login", "/login" %></li>
              <% end %>
            </ul>
          </aside>

          <section class="main-section">
            <div class="row">
              <%= @disqus = nil %>
              <%= render 'layouts/main' %>
              <%= render 'layouts/github_side' %>
            </div>
          </section>

          <a class="exit-off-canvas"></a>

        </div>
      </div>
    </nav>

    <div class="row hide-for-small">
      <% @disqus = "layouts/disqus_large" %>
      <%= render 'layouts/main' %>
      <%= render 'layouts/github_side' %>
    </div>
  </body>
</html>
