<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar hide-for-small">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "John Hager", root_path %></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li><%= link_to "home", "/" %>
          <li class="divider"></li>
          <li><%= link_to "portfolio", "portfolio" %> 
          <li class="divider"></li>
          <li><%= link_to "cv", "cv" %> 
          <li class="divider"></li>
          <li><%= link_to "go", "go" %> 
          <li class="divider"></li>
          <li><%= link_to "contact", "contact" %> 
        </ul>
      </section>
    </nav>

    <nav class="show-for-small">
      <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
          <nav class="tab-bar">
            <section class="left-small">
              <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
            </section>

            <section class="middle tab-bar-section">
              <h1 class="title"><%= link_to "John Hager", root_path %></h1>
            </section>

          </nav>

          <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
              <li><label>John Hager</label></li>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Portfolio", 'portfolio'%></li>
              <li><%= link_to "CV", 'cv' %></li>
              <li><%= link_to "Go", 'go' %></li>
              <li><%= link_to "Contact", 'contact' %></li>
            </ul>
          </aside>

          <section class="main-section">
            <div class="row">
              <%= render 'layouts/main' %>
            </div>
          </section>

          <a class="exit-off-canvas"></a>

        </div>
      </div>
    </nav>

    <div class="row hide-for-small">
      <%= render 'layouts/main' %>
    </div>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>
